In [38]:
import pandas as pd
import numpy as np

In [39]:
df18 = pd.read_excel('./data/2018-shcc-attacks-data.xlsx')
df19 = pd.read_excel('./data/2019-shcc-incident-data.xlsx')
df20 = pd.read_excel('./data/2020-shcc-incident-data.xlsx')
df21 = pd.read_excel('./data/2021-shcc-incident-data.xlsx')
df22 = pd.read_excel('./data/2022-shcc-incident-data.xlsx')

C:\Users\patel\AppData\Roaming\Python\Python311\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [40]:
df18.columns

Index(['SHCC Event Code', 'Country', 'Attack date', 'SHCC Attack Type',
       'Total health worker killed', 'Total health worker injured',
       'Total health worker kidnapped', 'Total health worker sexual violence',
       'Total health worker arrested ', 'Number of facilities affected',
       'Total number of attacks on facilities which reported destruction',
       'Total number of attacks on facilities which reported damage',
       'Armed entry into medical facilities',
       'Looting, theft, robbery, burglary of health supplies',
       'Occupation of medical facilities for military use',
       'Health transportation destroyed', 'Health transportation damaged',
       'Health transportation stolen/highjacked', 'Perpetrator '],
      dtype='object')

In [41]:
st1 = set(df18.columns) & set(df19.columns) & set(df20.columns) & set(df21.columns) & set(df22.columns)

st1

{'Attack date',
 'Country',
 'Health transportation damaged',
 'Health transportation destroyed',
 'Health transportation stolen/highjacked',
 'Perpetrator ',
 'Total health worker arrested ',
 'Total health worker injured',
 'Total health worker kidnapped',
 'Total health worker killed',
 'Total number of attacks on facilities which reported damage',
 'Total number of attacks on facilities which reported destruction'}

In [42]:
col_list = list(st1)

up_df18 = df18[col_list].drop([0, 974, 975]) # 974, 975 have total values of each columnm, hence removed
up_df19 = df19[col_list].drop(0)
up_df20 = df20[col_list].drop(0)
up_df21 = df21[col_list].drop(0)
up_df22 = df22[col_list].drop(0)

In [43]:
# get the rows where columns in txt_cols are null
tot_df = pd.concat([up_df18, up_df19, up_df20, up_df21, up_df22])
txt_cols = ['Perpetrator ', 'Attack date', 'Country']
tot_df[tot_df[txt_cols].isnull().any(axis=1)]

Empty DataFrame
Columns: [Perpetrator , Total number of attacks on facilities which reported damage, Total health worker killed, Attack date, Health transportation destroyed, Country, Total health worker arrested , Health transportation damaged, Health transportation stolen/highjacked, Total health worker kidnapped, Total health worker injured, Total number of attacks on facilities which reported destruction]
Index: []

In [44]:
int_cols = tot_df.columns.drop(txt_cols)
tot_df.fillna(0, inplace=True)
tot_df[int_cols] = tot_df[int_cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [45]:
tot_df.reset_index(drop=True, inplace=True)
tot_df.head()

,Perpetrator,Total number of attacks on facilities which reported damage,Total health worker killed,Attack date,Health transportation destroyed,Country,Total health worker arrested,Health transportation damaged,Health transportation stolen/highjacked,Total health worker kidnapped,Total health worker injured,Total number of attacks on facilities which reported destruction
0,NoInformation,0.0,0.0,2018-01-01 00:00:00,0.0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0
1,NonStateArmedGroups,0.0,0.0,2018-01-02 00:00:00,0.0,Afghanistan,0.0,0.0,0.0,5.0,0.0,0.0
2,StateActor,0.0,1.0,2018-01-06 00:00:00,0.0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0
3,NoInformation,0.0,0.0,2018-01-06 00:00:00,0.0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0
4,NoInformation,0.0,1.0,2018-01-15 00:00:00,0.0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
tot_df.to_csv('combined_shcc_incidents_data.csv')